%h2 Enter the video uid (from the url) to retrieve the IP
= form_tag "/blacklists" do
  %label{:for => "uid"} Video UID:
  %input#uid{:type => "textfield", :name => "uid"}
  %input#retrieve{:type => "submit", :name => "submit"}


%h1 Listing blacklists

%table
  %tr
    %th Associated UID
    %th
    %th
    %th

  - @blacklists.each do |blacklist|
    %tr
      %td= "protected"
      %td= link_to 'Show', blacklist
      %td= link_to 'Destroy', blacklist, :confirm => 'Are you sure?', :method => :delete

%br
