/* line 4, ../../app/stylesheets/application.scss */
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: #111;
  color: #fff;
}
/* line 10, ../../app/stylesheets/application.scss */
body a {
  text-decoration: none;
  color: #f0f;
}
/* line 14, ../../app/stylesheets/application.scss */
body #wrapper {
  margin-left: auto;
  margin-right: auto;
  background: url("/images/background.jpg") no-repeat 0 0;
  width: 940px;
  height: 1200px;
  padding: 0 10px 0 10px;
}
/* line 22, ../../app/stylesheets/application.scss */
body #wrapper #header {
  height: 153px;
  background: url("/images/logo.gif") no-repeat;
  margin: 0 0 30px 0;
}
/* line 28, ../../app/stylesheets/application.scss */
body #wrapper h1 {
  margin: 0;
  padding: 0;
  visibility: hidden;
  font-family: 'Fontdiner Swanky', cursive;
}
/* line 34, ../../app/stylesheets/application.scss */
body #wrapper h1 a {
  color: #ff00ff;
}
/* line 39, ../../app/stylesheets/application.scss */
body #wrapper h2, body #wrapper li {
  color: #ff00ff;
  font-family: 'Fontdiner Swanky', cursive;
}
/* line 44, ../../app/stylesheets/application.scss */
body #wrapper h2 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
/* line 51, ../../app/stylesheets/application.scss */
body #wrapper #main {
  clear: both;
  margin: 0 0 50px 0;
}
/* line 55, ../../app/stylesheets/application.scss */
body #wrapper #main p {
  font-size: 13px;
  line-height: 130%;
  color: #00ff00;
  text-align: justify;
}
/* line 62, ../../app/stylesheets/application.scss */
body #wrapper #main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 67, ../../app/stylesheets/application.scss */
body #wrapper #main ul li {
  text-align: center;
  padding: 10px;
  margin: 0 20px 20px 20px;
  border: 1px solid #00ff00;
  background: #222;
  opacity: 0.8;
  font-size: 16px;
}
/* line 78, ../../app/stylesheets/application.scss */
body #wrapper #main h2, body #wrapper #main li {
  color: #ff00ff;
  font-family: 'Fontdiner Swanky', cursive;
}
/* line 84, ../../app/stylesheets/application.scss */
body #wrapper #main h2 a {
  text-decoration: none;
  font-size: 24px;
  color: #f0f;
}
/* line 92, ../../app/stylesheets/application.scss */
body #wrapper #main #replay h2 {
  font-size: 16px;
  font-weight: normal;
}
/* line 96, ../../app/stylesheets/application.scss */
body #wrapper #main #replay h2 a {
  color: #00ff00;
  padding: 20px 10px 20px 60px;
  background: url("/images/play.png") no-repeat 10px center #111111;
  width: auto;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 104, ../../app/stylesheets/application.scss */
body #wrapper #main #replay h2 a:hover {
  background-color: #ff00ff;
}
/* line 110, ../../app/stylesheets/application.scss */
body #wrapper #main .col {
  width: 270px;
  margin-right: 20px;
  float: left;
}
/* line 116, ../../app/stylesheets/application.scss */
body #wrapper #main #exposition {
  margin-bottom: 80px;
}
/* line 118, ../../app/stylesheets/application.scss */
body #wrapper #main #exposition p {
  font-size: 14px;
}
/* line 122, ../../app/stylesheets/application.scss */
body #wrapper #main #framey_recorder {
  height: 344px;
}
/* line 125, ../../app/stylesheets/application.scss */
body #wrapper #main #tweet_it {
  font-size: 36px;
  margin-left: 80px;
  color: #f0f;
  font-family: 'Fontdiner Swanky', cursive;
}
/* line 131, ../../app/stylesheets/application.scss */
body #wrapper #main #bleeoo_phonetic {
  position: absolute;
  top: 530px;
  width: 350px;
}
/* line 137, ../../app/stylesheets/application.scss */
body #wrapper #main #bleeoo_post {
  height: 344px;
}
/* line 140, ../../app/stylesheets/application.scss */
body #wrapper #main #actions.col {
  width: 320px;
}
/* line 143, ../../app/stylesheets/application.scss */
body #wrapper #main #actions.col h2 {
  text-align: center;
}
/* line 149, ../../app/stylesheets/application.scss */
body #wrapper #recent {
  position: absolute;
  top: 626px;
  width: 900px;
}
/* line 154, ../../app/stylesheets/application.scss */
body #wrapper #see_all {
  float: right;
  margin-top: 60px;
  margin-right: 120px;
  font-weight: bold;
  color: #f0f;
  text-decoration: none;
}
/* line 162, ../../app/stylesheets/application.scss */
body #wrapper #video_age {
  color: #f00;
}
/* line 165, ../../app/stylesheets/application.scss */
body #wrapper #player_wrapper {
  margin-left: 240px;
}
/* line 168, ../../app/stylesheets/application.scss */
body #wrapper #about_this_video {
  color: #0f0;
  font-weight: bold;
  width: 550px;
}
/* line 172, ../../app/stylesheets/application.scss */
body #wrapper #about_this_video a {
  color: #f0f;
}
/* line 178, ../../app/stylesheets/application.scss */
body #wrapper #secondary #videos_container {
  margin-left: 131px;
}
/* line 180, ../../app/stylesheets/application.scss */
body #wrapper #secondary #videos_container .video_thumbnail {
  margin-top: 34px;
  position: relative;
  float: left;
  margin-right: 50px;
}
/* line 185, ../../app/stylesheets/application.scss */
body #wrapper #secondary #videos_container .video_thumbnail a {
  width: 136px;
  height: 102px;
  background: url("/images/play_overlay.png") 80px 56px no-repeat;
  background-size: 50% 50%;
  position: absolute;
  display: block;
  z-index: 100;
  top: 0px;
  opacity: 0.5;
}
/* line 195, ../../app/stylesheets/application.scss */
body #wrapper #secondary #videos_container .video_thumbnail a:hover {
  opacity: 1.0;
}
/* line 200, ../../app/stylesheets/application.scss */
body #wrapper #secondary #videos_container .video_thumbnail img {
  width: 136px;
}
/* line 206, ../../app/stylesheets/application.scss */
body #wrapper #share {
  background: url("/images/share_the_bleeoo.png") 10px 10px no-repeat #284484;
  height: 230px;
  position: absolute;
  top: 890px;
  width: 960px;
  margin-left: -10px;
}
/* line 213, ../../app/stylesheets/application.scss */
body #wrapper #share #likeit {
  position: relative;
  left: 500px;
  top: 20px;
}
/* line 219, ../../app/stylesheets/application.scss */
body #wrapper #powered_by {
  height: 100px;
  background: #333;
  width: 960px;
  margin-left: -10px;
  position: absolute;
  top: 1120px;
}
/* line 229, ../../app/stylesheets/application.scss */
body .clear {
  clear: both;
}
/* line 212, ../../app/stylesheets/application.scss */
body .video_thumbnail_grid {
  margin-top: 34px;
  position: relative;
  margin-right: 50px;
}
/* line 216, ../../app/stylesheets/application.scss */
body .video_thumbnail_grid a {
  width: 136px;
  height: 102px;
  background: url("/images/play_overlay.png") 80px 56px no-repeat;
  background-size: 50% 50%;
  opacity: 0.5;
}
/* line 222, ../../app/stylesheets/application.scss */
body .video_thumbnail_grid a:hover {
  opacity: 1.0;
}
/* line 227, ../../app/stylesheets/application.scss */
body .video_thumbnail_grid img {
  width: 136px;
}
