/* line 4, ../../app/stylesheets/application.scss */
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: #111;
}
/* line 10, ../../app/stylesheets/application.scss */
body #wrapper {
  margin-left: auto;
  margin-right: auto;
  background: url("/images/background.jpg") no-repeat 0 0;
  width: 940px;
  height: 1200px;
  padding: 0 0 0 30px;
}
/* line 18, ../../app/stylesheets/application.scss */
body #wrapper #header {
  height: 153px;
  background: url("/images/logo.gif") no-repeat;
  margin: 0 0 30px 0;
}
/* line 24, ../../app/stylesheets/application.scss */
body #wrapper h1 {
  margin: 0;
  padding: 0;
  visibility: hidden;
  font-family: 'Fontdiner Swanky', cursive;
}
/* line 30, ../../app/stylesheets/application.scss */
body #wrapper h1 a {
  color: #ff00ff;
}
/* line 35, ../../app/stylesheets/application.scss */
body #wrapper h2, body #wrapper li {
  color: #ff00ff;
  font-family: 'Fontdiner Swanky', cursive;
}
/* line 40, ../../app/stylesheets/application.scss */
body #wrapper h2 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
/* line 47, ../../app/stylesheets/application.scss */
body #wrapper #main {
  clear: both;
  margin: 0 0 50px 0;
}
/* line 51, ../../app/stylesheets/application.scss */
body #wrapper #main p {
  font-size: 13px;
  line-height: 130%;
  color: #00ff00;
  text-align: justify;
}
/* line 58, ../../app/stylesheets/application.scss */
body #wrapper #main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 63, ../../app/stylesheets/application.scss */
body #wrapper #main ul li {
  text-align: center;
  padding: 10px;
  margin: 0 20px 20px 20px;
  border: 1px solid #00ff00;
  background: #222;
  opacity: 0.8;
  font-size: 16px;
}
/* line 74, ../../app/stylesheets/application.scss */
body #wrapper #main h2, body #wrapper #main li {
  color: #ff00ff;
  font-family: 'Fontdiner Swanky', cursive;
}
/* line 79, ../../app/stylesheets/application.scss */
body #wrapper #main h2 {
  font-size: 16px;
  font-weight: normal;
}
/* line 83, ../../app/stylesheets/application.scss */
body #wrapper #main h2 a {
  color: #00ff00;
  padding: 20px 10px 20px 60px;
  background: url("/images/play.png") no-repeat 10px center #111111;
  width: auto;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 91, ../../app/stylesheets/application.scss */
body #wrapper #main h2 a:hover {
  background-color: #ff00ff;
}
/* line 96, ../../app/stylesheets/application.scss */
body #wrapper #main .col {
  width: 270px;
  margin-right: 20px;
  float: left;
}
/* line 102, ../../app/stylesheets/application.scss */
body #wrapper #main #exposition {
  margin-bottom: 80px;
}
/* line 106, ../../app/stylesheets/application.scss */
body #wrapper #main #actions.col {
  width: 320px;
}
/* line 109, ../../app/stylesheets/application.scss */
body #wrapper #main #actions.col h2 {
  text-align: center;
}
/* line 115, ../../app/stylesheets/application.scss */
body #wrapper #video_info {
  color: #f00;
}
/* line 118, ../../app/stylesheets/application.scss */
body #wrapper #player_wrapper {
  margin-left: 240px;
}
/* line 122, ../../app/stylesheets/application.scss */
body #wrapper #secondary #videos_container {
  margin-left: 111px;
}
/* line 124, ../../app/stylesheets/application.scss */
body #wrapper #secondary #videos_container .video_thumbnail {
  margin-top: 34px;
  position: relative;
  float: left;
  margin-right: 50px;
}
/* line 129, ../../app/stylesheets/application.scss */
body #wrapper #secondary #videos_container .video_thumbnail a {
  width: 136px;
  height: 102px;
  background: url("/images/play_overlay.png") 80px 56px no-repeat;
  background-size: 50% 50%;
  position: absolute;
  display: block;
  z-index: 100;
  top: 0px;
  opacity: 0.5;
}
/* line 139, ../../app/stylesheets/application.scss */
body #wrapper #secondary #videos_container .video_thumbnail a:hover {
  opacity: 1.0;
}
/* line 144, ../../app/stylesheets/application.scss */
body #wrapper #secondary #videos_container .video_thumbnail img {
  width: 136px;
}
/* line 152, ../../app/stylesheets/application.scss */
body .clear {
  clear: both;
}
