.top
  #video_show
    #video_info
    - if @video.framey_name
      #player_wrapper
        %span 
          = render_player({ :video_url => video_source_url(@video.uid), :thumbnail_url => video_thumbnail_url(@video.uid),
      })
        %br
        #video_age
          recorded 
          = time_ago_in_words @video.created_at
          ago
        .clear
    -else
      #processing_video
        This video is being processed, please reload the page in a few seconds.
        
    #about_this_video
      %p
        This video was recorded as part of the 
        %a{:href => "/"}
          "Bleeoo Project"
        to preserve an oral history of our digital past. 
      %p
        Bleeoo is powered by 
        %a{:href=>"http://framey.com"} Framey
        which makes it easy to add video recording to your site.
      %a{:href=>"/"}
        Record your own bleeoo!
  .clear

.bottom
