@import "mixins";
@import "compass/css3/border-radius";

body {
  font-family:sans-serif;
  padding:0;
  margin:0;
  background-color:#111;
  color:#fff;
  a{
    text-decoration:none;
    color:#f0f;
  }
  #wrapper {
    margin-left:auto;
    margin-right:auto;
    background:url('/images/background.jpg') no-repeat 0 0;
    width:940px;
    height:1200px;
    padding:0 10px 0 10px;

    #header {
      height:153px;
      background:url('/images/logo.gif') no-repeat;
      margin:0 0 30px 0;
    }

    h1 {
      margin:0;
      padding:0;
      visibility:hidden;
      font-family: 'Fontdiner Swanky', cursive;
      
      a {
        color:#ff00ff;
      }
    }
  
    h2, li {
      color:#ff00ff;
      font-family: 'Fontdiner Swanky', cursive;
    }

    h2 {
      margin:0;
      font-size:16px;
      font-weight:normal;
    }


    #main {
      clear:both;
      margin:0 0 50px 0;

      p {
        font-size:13px;
        line-height:130%;
        color:#00ff00;
        text-align:justify;
      }

      ul {
        list-style:none;
        margin:0;
        padding:0;

        li {
          text-align:center;
          padding: 10px;
          margin:0 20px 20px 20px;
          border:1px solid #00ff00;
          background:#222;
          opacity:0.8;
          font-size:16px;
        }
      }

      h2, li {
        color:#ff00ff;
        font-family: 'Fontdiner Swanky', cursive;
      }
      
      h2{
        a{
          text-decoration:none;
          font-size:24px;
          color:#f0f;
        }
      }

      #replay{
        h2 {
          font-size:16px;
          font-weight:normal;

          a {
            color:#00ff00;
            padding:20px 10px 20px 60px;
            background:url('/images/play.png') no-repeat 10px center #111;
            width:auto;
            @include border-radius(5px, 5px);
          }
        
          a:hover {
            background-color:#ff00ff;
          }
        }
      }
      
      .col {
        width:270px;
        margin-right:20px;
        float:left;
      }
      
      #exposition {
        margin-bottom:80px;
        p{
          font-size:14px;
        }
      }
      #framey_recorder{
        height:344px;
      }
      #tweet_it{
        font-size:36px;
        margin-left:80px;
        color:#f0f;
        font-family: 'Fontdiner Swanky', cursive;
      }
      #bleeoo_phonetic{
        position:absolute;
        top:530px;
        width:350px;
        
      }
      #bleeoo_post{
        height:344px;
      }
      #actions.col {
        width:320px;

        h2{
          text-align:center;
        }
      }
      
    }
    #recent{
      position:absolute;
      top:626px;
      width:900px;
    }
    #see_all{
      float:right;
      margin-top:60px;
      margin-right:120px;
      font-weight:bold;
      color:#f0f;
      text-decoration:none;
    }
    #video_age{
      color:#f00;
    }
    #player_wrapper{
      margin-left:240px;
    }
    #about_this_video{
      color:#0f0;
      font-weight:bold;
      width:550px;
      a{
        color:#f0f;
      }
    }
    
    #secondary{
      #videos_container{
        margin-left:131px;
        .video_thumbnail{
          margin-top:34px;
          position:relative;
          float:left;
          margin-right:50px;
          a{
            width:136px;
            height:102px;
            background:url('/images/play_overlay.png') 80px 56px no-repeat;
            background-size:50% 50%;
            position:absolute;
            display:block;
            z-index:100;
            top:0px;
            opacity:0.5;
            &:hover{
              opacity:1.0;
            }
          }
          
          img{
            width:136px;
          }
        }
      }
    }
    #share{
      background:url('/images/share_the_bleeoo.png') 10px 10px no-repeat #284484;
      height:230px;
      position:absolute;
      top:890px;
      width:960px;
      margin-left:-10px;
      #likeit{
        position:absolute;
        left:500px;
        top:20px;
      }
    }
    #powered_by{
      height:75px;
      background:url('/images/bleeoo_footer.png') 0 0  #333;
      width:960px;
      margin-left:-10px;
      position:absolute;
      top:1120px;
      a{
        width:500px;
        display:block;
        position:relative;
      }
      #pblogo{
        float:left;
      }
      #pb_text{
        position:absolute;
        top:34px;
        font-weight:bold;
        left:200px;
        font-size:18px;
        color:#900;
      }
      #pb_moretext{
        position:absolute;
        top:55px;
        left:200px;
        font-size:10px;
        color:#fff;
      }
    }
  }

  .clear {
    clear:both;
  }

  .video_thumbnail_grid{
    margin-top:34px;
    position:relative;
    margin-right:50px;
    width:700px;
    a{
      width:136px;
      height:102px;
      background:url('/images/play_overlay.png') 80px 56px no-repeat;
      background-size:50% 50%;
      top:0px;
      opacity:0.75;
      float:left;
      margin:10px;
      &:hover{
        opacity:1.0;
      }
    }
    
    img{
      width:136px;
    }
  }
}

