#videos_container
  - @videos.each do |video|
    .video_info{:id => "video_#{video.uid}"}
      
      .video_thumbnail
        = image_tag(video.framey_thumbnail_url)
        %a{:href => "/videos/#{video.uid}"}
              
.clear          
.pagination
  = will_paginate @videos, :class => 'pagination ajax'
