#main
  #description.col
    %h2 
      %a{:href=>"http://twitter.com/#!/search/realtime/%23ripdialup"}#RIPdialup
    #exposition
      %p Remember the glory of dialing up? 
      %p Kids today won't know the shrill cry of a 9600 baud, or the magical "doodleeedoo" of a 28.8 modem. 
      %p Help preserve our digital history. Join us in recording your best impression of a "modem handshake" sound.
    / #replay
    /       %h2
    /         %a Refresh your memory

  #actions.col
    #framey_recorder
      = render_recorder({ :id => "recorder", :max_time => 10, :session_data => {:video_uid => @video_uid} })
    %h2#bleeoo_phonetic Bleeoooooo, chhhhh keeeeetttt... bloododebloodoodebloooo!
    #bleeoo_post{}
      #h2 Share your Bleeoo!
      %p 
        Your recording is processing and will appear 
        %a#permalink{:href=>"#"}
          here 
        soon. 
      %p Share your recording with your friends and help spread the word about this important historical preservation project!
      %a#tweet_it{:href=>"#"}
        Tweet it

  #instructions.col
    %ul
      %li Hit the record button
      %li Do your best 10 second impression of a modem
      %li Hit publish!
  .clear
#secondary
  #recent
    %h2 Recent Bleeoo's
    = render "videos"
#share
  #likeit
    :plain
      <iframe src="http://www.facebook.com/plugins/like.php?app_id=207975149265764&amp;href=http%3A%2F%2Fbleeoo.com&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=true&amp;action=like&amp;colorscheme=dark&amp;font=verdana&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:80px;" allowTransparency="true"></iframe>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
      <br />
      <a href="http://twitter.com/share?url=http://bleeoo.com&text=Remember%20dial%20up%3F%20Record%20a%20video%20of%20the%20dial%20up%20sound%20to%20preserve%20history.%20%23RIPdialup" class="twitter-share-button">Tweet</a>
#powered_by
  %a{:href=>"http://framey.com"}
    %img#pb_logo{:src=>"/images/framey_logo.png"}
    #pb_text Powered by Framey
    #pb_moretext Learn more at Framey.com