#main
  #description.col
    %h2 Remember dialing up?
    #exposition
      %p Today's kids have it so easy, with their always-on highspeed and their wifi dohickeys. They'll never know the glory of sneaking into their parent's den and dialing up. They'll never know the sweet, shrill cry of a 9600 baud, or the harmonious, magical doodleeedoo of a 28.8 speed demon. 
      %p Think back to yesteryear and record your best "modem handshake" sound.
      %p When we've got enough submissions, we'll put it all together into a beautiful story of connections made and lost and of data flowing over the copper divide.
    #replay
      %h2
        %a Refresh your memory

  #actions.col
    #framey_recorder
      = render_recorder({ :id => "recorder", :max_time => 10, :session_data => {:video_uid => @video_uid} })
    %h2 Bleeoooooo, chhhhh keeeeetttt... bloododebloodoodebloooo!

  #instructions.col
    %ul
      %li Hit the record button
      %li Do your best 10 second impression of a modem
      %li Hit publish!
  .clear
#secondary
  #recent
    %h2 Recent Bleeoo's
    = render "videos"

