#main
  #description.col
    %h2 
      %a{:href=>"http://twitter.com/#!/search/realtime/%23ripdialup"}#RIPdialup
    #exposition
      %p Remember the glory of dialing up? 
      %p Kids today won't know the shrill cry of a 9600 baud, or the magical "doodleeedoo" of a 28.8 modem. 
      %p Help preserve our digital history. Join us in recording your best impression of a "modem handshake" sound.
    / #replay
    /       %h2
    /         %a Refresh your memory

  #actions.col
    #framey_recorder
      = render_recorder({ :id => "recorder", :max_time => 10, :session_data => {:video_uid => @video_uid} })
    %h2#bleeoo_phonetic Bleeoooooo, chhhhh keeeeetttt... bloododebloodoodebloooo!
    #bleeoo_post{}
      #h2 Share your Bleeoo!
      %p 
        Your recording is processing and will appear 
        %a#permalink{:href=>"#"}
          here 
        soon. 
      %p Share your recording with your friends and help spread the word about this important historical preservation project!
      %a#tweet_it{:href=>"#"}
        Tweet it

  #instructions.col
    %ul
      %li Hit the record button
      %li Do your best 10 second impression of a modem
      %li Hit publish!
  .clear
#secondary
  #recent
    %h2 Recent Bleeoo's
    = render "videos"

